<div class="well">
  <%= link "Chat Room", to: chatting_room_path(@conn, :index) %>
  |
  <%= link "List Users", to: user_path(@conn, :index) %>
  |
  <%= link "Setup Chatting Room", to: chatting_room_path(@conn, :index) %>
</div>

<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Rumble.io" %></h2>
  <p class="lead">Let's rock!<br /></p>
</div>
