<div class="well">
  <%= link "Back to Main Page", to: page_path(@conn, :index) %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Room Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= for room <- @rooms do %>
      <tr>
        <td><%= room.name %></td>
        <td>
          <%= link "Join Chat", to: page_path(@conn, :chat, room.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
